{% extends 'READING/BOTTOM-NAVBAR.html' %}
{% block sub-title %} ADJECTIVE {% endblock %}

{% block content %}
<div class="content">
	<div class="content-title">
		<h1> ADJECTIVE </h1>
		<p>Adjective qualifies a Noun or Pronoun. A word used with noun to describe, or point out, the person, animal, place or thing : or to tell the number or quantity is called an Adjective</p>
	</div>

	<div class="content-context">
		<div class="example">
			Ram is a person with innate goodness. He is always an adherent of truth and dharma.
		</div>

		<!-- ----------------------------------------------------------TYPES---------------------------------------------------------- -->

		<div class="types">
			<ol type="1">Types of Adjective:-
				<li>Descriptive Adjective</li>
				<li>Numeral Adjective</li>
				<li>Quantitative Adjective</li>
				<li>Demonstrative Adjective</li>
				<li>Interrogative Adjective</li>
				<li>Possesive Adjective</li>
				<li>Proper Adjective</li>
				<li>Exclamatory Adjective</li>
			</ol>
		</div>

		<!-- ----------------------------------------------------------TYPE---------------------------------------------------------- -->

		<div class="type-content">
			<div class="type-heading">
				<h3>Descriptive Adjective:-</h3>
				<p>Adjectives of Quality or Descriptive Adjectives show the kind of quality of a person or thing. Ex. Beautiful, large, small etc.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>Miss. Sanyogita is very <u><b>beautiful</b></u>.</li>
					Here "beautiful" is describing the quality of "Mis. Sanyogita".
					<li>The <u><b>foolish</b></u> old crow tries to sing.</li>
					Here "foolish" is descibing the quality of crow.
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Numeral Adjective:-</h3>
				<p>Adjectives of number or Numeral Adjectives show how many persons or things are meant. This adjective represents numeral value. Ex. Eight, few, second, some etc.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>Mr. Banerji's <u><b>fourtyfive</b></u> years of dedication lead hime to discovery of an advanced Homeopathy.</li>
					Here "fourtyfive" is a definite numerical value that is showing the work duration of "Mr. Banerji".
					<li><u><b>Most</b></u> of the boys are selected for hockey.</li>
					Here "most" is an indefinite numeral value that is delineating the numer of boys selected for game "hockey".
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Quantitative Adjective:-</h3>
				<p>Adjectives of quantity show how much quantity of a thing is meant. Ex. Some, little, whole, one fourth etc.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li><u><b>One by two</b></u> of India's Kashmir is occupied by Pakistan and China. </li>
					Here "one by two" is quantity of "India's Kashmir that has been occupied by Pakistan and China".
					<li><u><b>Many</b></u> precious metals of India had been occupied by Britishers and till now England had not returned it back to nation.</li>
					Here "many" is quantity of "precious metals of India".
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Demonstrative Adjective:-</h3>
				<p>Demonstrative Adjectives point out which person or thing is meant, ex. This, that, those, such etc.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li><u><b>This</b></u> girl is taller than Rosie.</li>
					Here "this" is demonstrating to only "Rosie".
					<li><u><b>Give</b></u> me that blue water bottle.</li>
					Here "give" is pointing to only that "water" which is inside the bottle.
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Interrogative Adjective:-</h3>
				<p>What, which, and whose, when they are used with nouns to ask questions, are called Interrogative Adjectives.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li><u><b>Whose</b></u> book is this?</li>
					Here "whose" is Interrogative adjective that is used with noun "book".
					<li><u><b>Which</b></u> book on proofreading do you recommend?</li>
					Here "which" is Interrogative adjective that is used with noun "book".
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Possesive Adjective:-</h3>
				<p>We use Possessive adjectives to express who owns or possesses something. This is used in front of a noun. Ex. Own, my, our etc.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>He is his<u><b>own</b></u> master.</li>
					Here "own" is Possesive adjective that is expressing his quality.
					<li><u><b>Your</b></u> child is not doing well in the school.</li>
					Here "your" is Possesive adjective that is possesses to child.
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Proper Adjective:-</h3>
				<p>Adjectives formed from proper nouns are called Proper Adjectives. Ex. Indian, British, Chinese etc.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>The <u><b>Indian</b></u> professor is teaching in the class.</li>
					Here "Indian" is a Proper adjectives.
					<li> Jumbo was a famous<u><b>African</b></u> elephant.</li>
					Here "African" is a Proper adjective.
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Exclamatory Adjective:-</h3>
				<p>The word what is sometimes used as an Exclamatory Adjective.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>What a <u><b>genius!</b></u></li>
					<li>What a <u><b>blessing!</b></u></li>
				</ol>
			</div>
		</div>
		
	</div>
</div>
<script>
	function getOption(x) {
		if (document.getElementById("correct").checked == true) {
			console.log("Correct");
			document.getElementById("cr").style.backgroundColor = "#59F6A1";
			document.getElementById("cr").style.color = "white";
			document.getElementById("cr").style.opacity = "1";

		}
		else {
			console.log("Wrong");
			// document.body.style.backgroundColor = "White"
			document.getElementById("cr").style.backgroundColor = "red";
			document.getElementById("cr").style.color = "white";
			document.getElementById("cr").style.opacity = "1";
		}
	}
</script>
{% endblock %}