<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/CSS/mcq.css">
    <title>Document</title>
</head>

<body>
    <div class="mcq">
        <div class="mcq-box">
            <div class="mcq-question">
                Q1. "Reeta is the name of my neighbour's grand-daughter", contains which type of noun?
            </div>
            <div class="mcq-option">
                <table>
                    <tr>
                        <td>
                            <label class="options">
                                <input type="radio" name="radio1" onclick="getOption(this)">
                                <span class="checkmark">Abstract Noun</span>
                            </label>
                        </td>
                        <td>
                            <label class="options">
                                <input type="radio" name="radio1" onclick="getOption(this)">
                                <span class="checkmark">Common Noun</span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="options">
                                <input type="radio" name="radio1" onclick="getOption(this)">
                                <span class="checkmark">Proper Noun</span>
                            </label>
                        </td>
                        <td>
                            <label class="options">
                                <input type="radio" name="radio1" onclick="getOption(this)" id="correct">
                                <span class="checkmark" id="cr">None of these</span>
                            </label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</body>

</html>