{% extends 'READING/BOTTOM-NAVBAR.html' %}
{% block sub-title %} PRONOUN {% endblock %}

{% block content %}
<div class="content">
	<div class="content-title">
		<h1> PRONOUN </h1>
		<p>A word that is used instead of a noun is called Pronoun.</p>
	</div>

	<div class="content-context">
		<div class="example">
			Lord Rama is one of the most widely worshipped Hindu deities, the embodiment of chivalry and virtue. His story is told in the epic poems the Mahabharata and the Ramayana.
		</div>

		<!-- ----------------------------------------------------------TYPES---------------------------------------------------------- -->

		<div class="types">
			<ol type="1">Types of pronouns:-
				<li>Relative Pronoun</li>
				<li>Possessive Pronoun</li>
				<li>Reflexive Pronoun</li>
				<li>Demonstrative Pronoun</li>
				<li>Interrogative Pronoun</li>
				<li>Personal Pronoun</li>
				<li>Reciprocal Pronoun</li>
			</ol>
		</div>

		<!-- ----------------------------------------------------------TYPE---------------------------------------------------------- -->

		<div class="type-content">
			<div class="type-heading">
				<h3>Relative Pronoun:-</h3>
				<p>Pronouns that are used to relate one part of the sentence to another.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>The community hall, in  <u><b>which</b></u>  the function was held, had maximum space of about 200 people.</li>
					Here "which" is relative pronoun as it is relating one part of sentence i.e., community hall with another part i.e., function, which is going to be held in community hall.
					<li>This is the place <u><b>where</b></u> we met.</li>
					Here "where" is relative pronoun as meeting is related to that particular place.
				</ol>
				<p>Some Relative Pronoun:-</p>
				<ol type="i">
					<li>That</li>
					<li>Who</li>
					<li>Whoever</li>
					<li>Which</li>
					<li>Whichever</li>
					<li>Whom</li>
					<li>Whomever</li>
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Possessive Pronoun:-</h3>
				<p>Those pronouns that are used to show possession.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>The cat is <u><b>mine</b></u></li>
					The possessive pronoun "mine" replaces the phrase "my cat" which would make the sentence repetitive.
					<li>I believe this is <u><b>yours</b></u></li>
					The possessive pronoun "yours" implies second-person ownership of "this.""
				</ol>
				<p>Some Possessive Pronoun:-</p>
				<ol type="i">
					<li>Mine</li>
					<li>Yours</li>
					<li>his</li>
					<li>hers</li>
					<li>theirs</li>
					<li>its</li>
				</ol>
			</div>
			<div class="bonus-tip">
				<button id="bonus-button">Bonus</button>
				<ol type="i" id="bonus-list">
					<li>Avoid apostrophes.</li>
					<li>Try not to confuse them with possessive adjectives.</li>
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Reflexive Pronoun:-</h3>
				<p>It is a type of pronoun used when the subject of a sentence is the same as the object of the sentence.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>Dad and I painted the trailer <u><b>ourselves</b></u></li>
					<li>Please make <u><b>yourselves</b></u> at home while you wait.</li>
				</ol>
				<p>List of all Reflexive Pronouns:-</p>
				<ol type="i">
					<li>Myself</li>
					<li>Yourself</li>
					<li>Herself</li>
					<li>Himself</li>
					<li>Oneself</li>
					<li>Itself</li>
					<li>Ourselves</li>
					<li>Themselves</li>
					<li>Yourselves</li>
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Demonstrative Pronoun:-</h3>
				<p>Those pronouns that are used to point to specific objects.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>Are <u><b>those</b></u> your shoes?</li>
					Here "shoes" are that particular pointing object. That's why "those" is used here.
					<li>Because of <u><b>their</b></u> bad behavior, none of the children were given allowances.</li>
					Only there is a specific child whose behaiour is talking about. That's why "there" is used.
				</ol>
				<p>Some Demonstrative Pronouns:-</p>
				<ol type="i">
					<li>This</li>
					<li>That</li>
					<li>These</li>
					<li>Their</li>
					<li>There</li>
					<li>Those</li>
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Interrogative Pronoun:-</h3>
				<p>These are those pronouns that are used to ask questions.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li><u><b>Which</b></u> of these ladies is your mother?</li>
					Here "shoes" are that particular pointing object. That's why "those" is used here.
					<li><u><b>What</b></u> do you want for dinner?</li>
				</ol>
				<p>Some Interrogative Pronouns:-</p>
				<ol type="i">
					<li>Who</li>
					<li>What</li>
					<li>When</li>
					<li>Why</li>
					<li>Where</li>
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Personal Pronoun:-</h3>
				<p>These are simple pronouns that are used to substitute proper names.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li><u><b>He</b></u> is my brother.</li>
					<li><u><b>We</b></u> are going to Yamunanagar.</li>
				</ol>
				<p>Some Personal Pronouns:-</p>
				<ol type="i">
					<li>I</li>
					<li>You</li>
					<li>He</li>
					<li>She</li>
					<li>We</li>
					<li>They</li>
					<li>Him</li>
					<li>Her</li>
					<li>His</li>
					<li>It</li>
				</ol>
			</div>
		</div>

		<div class="type-content">
			<div class="type-heading">
				<h3>Reciprocal Pronoun:-</h3>
				<p>Those pronouns that are pronouns that are used to express a mutual relationship.</p>
			</div>
			<div class="type-example">
				<ol type="a">
					<li>Suru and Piyu enjoying party with <u><b>each other</b></u>.</li>
					<li>Students of IIT helps<u><b>one another</b></u>.</li>
				</ol>
				<p>Some Reciprocal Pronouns:-</p>
				<ol type="i">
					<li>Each other</li>
					<li>One another</li>
				</ol>
			</div>
		</div>

	</div>
</div>
<script>
	function getOption(x) {
		if (document.getElementById("correct").checked == true) {
			console.log("Correct");
			document.getElementById("cr").style.backgroundColor = "#59F6A1";
			document.getElementById("cr").style.color = "white";
			document.getElementById("cr").style.opacity = "1";

		}
		else {
			console.log("Wrong");
			// document.body.style.backgroundColor = "White"
			document.getElementById("cr").style.backgroundColor = "red";
			document.getElementById("cr").style.color = "white";
			document.getElementById("cr").style.opacity = "1";
		}
	}
</script>
{% endblock %}