<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="stylesheet" type="text/css" href="{% static 'CSS/ALL.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'CSS/mcq.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="../../static/CSS/ALL.css">
	<link rel="stylesheet" type="text/css" href="../../static/CSS/mcq.css">
	<title>NOUN</title>
</head>

<body>
	<div class="content-title">
		<h1>
			NOUN
		</h1>
	</div>

	<div class="content-context">
		<p>A Noun is a word used as the name of a person, place, or thing.</p>
		Reeta is the name of my neighbour's granddaughter, she loves to play football with me. Whenever Reeta saw a herd
		of elephants she felt very excited and always plea her grandfather to make a ride of it.
		<ol type="1">Types of nouns:-
			<li>Common Noun</li>
			<li>Proper Noun</li>
			<li>Collective Noun</li>
			<li>Material Noun</li>
			<li>Abstract Noun</li>
		</ol>

		<h3>Common Noun:-</h3>
		<p>A common noun is a name given in common to every person or thing of the same class or kind.</p>
		<ol type="a">
			<li>The <u><b>dog</b></u> is a faithful animal</li>
			Here "dog" is common noun as it is common to its class or kind.
			<li>There are fourty <u><b>trees</b></u> on the road</li>
			Here "trees" are common noun as it is common to its class, no matter whether there are different trees or
			not.
		</ol>

		<h3>Proper Noun:-</h3>
		<p>A proper noun is the name of some particular person or place-as; Ram, Ramayan, The Taj.</p>
		<ol type="a">
			<li>Kalidas is the <u><b>Shakespeare</b></u> of India</li>
			Here "Shakespeare" is proper noun as it is the name of famous poet.
			<li>He was the <u><b>Rustum</b></u> of his times</li>
			Here "Rustum" is proper noun as it is again the name of legendary hero of Persion mythological stories.
		</ol>

		<h3>A Collective Noun:-</h3>
		<p>A collective noun is the name of a number of persons things together and spoken of as one whole-as; class,
			army,
			nation, fleet, family, herd.</p>
		<ol type="a">
			<li>A <u><b>heap</b></u> of rubbish</li>
			Here "heap" is collective noun as "heap" refers to large number.
			<li>A <u><b>pack</b></u> of cards.</li>
			Here "pack" is again a countable part so it is collective noun.
		</ol>

		<h3>A Material Noun:-</h3>
		<p>A material noun is concerned with metals and things-as; Gold, silver, stone, cotton, wool.</p>
		<ol type="a">
			<li>The thief was led in <u><b>irons</b></u>.</li>
			Here "iron" is a material, so it is a material noun.
			<li>He deals in precious <u><b>stones</b></u>.</li>
			Here "stone" is a material, so it is material noun.
		</ol>

		<h3>An Abstract Noun:-</h3>
		<p>A abstract noun is usually the name of a quality, action, or state considered apart from the oject to which
			it
			belongs; as:-
			<li>Quality:- Goodness, whiteness, honesty, wisdom</li>
			<li>Action:- Laughter, movement, hatred</li>
			<li>State:- Childhood, boyhood, youth </li>
		</p>
		<ol type="a">
			<li>He is a <u><b>justice</b></u> of the place.</li>
			When an Abstract Noun is preceded by an article it becomes Common Noun. That's why "justice" is considered
			as
			Abstract Noun.
			<li>Kashmir is famous for her natural <u><b>beauties</b></u>.</li>
			When an Abstract Noun is used in the plural, becomes Common Noun. So, here "beauties" are Abstract Noun.
		</ol>
	</div>

	<h2>Test your knowledge</h2>


	</div>
	<!-- For teachers every student is equal -->
	<div class="bottom-content">
		<footer>
			<div class="navbar">
				<ol>
					<form action="{% url 'Nouns' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Noun" style="padding: 20px;" id="start"></input>
					</form>
					<form action="{% url 'Pronouns' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Pronoun"></input>
					</form>
					<form action="{% url 'Verbs' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Verb"></input>
					</form>
					<form action="{% url 'Adjectives' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Adjective"></input>
					</form>
					<form action="{% url 'Adverbs' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Adverb"></input>
					</form>
					<form action="{% url 'Prepositions' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Preposition"></input>
					</form>
					<form action="{% url 'Conjunctions' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Conjunction"></input>
					</form>
					<form action="{% url 'Interjections' %}" method="POST">
						<!-- {% csrf_token %} -->
						<input type="submit" value="Interjection" id="end"></input>
					</form>
				</ol>
			</div>
		</footer>
	</div>
	<script>
		// function getOption(x){
		//     if(document.getElementById("correct")==x){
		//         console.log("Correct");
		//         document.getElementById("cr").style.backgroundColor="#59F6A1";
		//         document.getElementById("cr").style.color="white";
		//         document.getElementById("cr").style.opacity="1";
		//         // background-color: #59F6A1;
		//     }
		//     else{
		//         console.log("Wrong");
		//         document.getElementById(x.getElementByClass("checkmark")).style.backgroundColor="red";
		//         document.getElementById(x).style.color="white";
		//         document.getElementById(x).style.opacity="1";
		//     }
		// }
		function getOption(x) {
			if (document.getElementById("correct").checked == true) {
				console.log("Correct");
				document.getElementById("cr").style.backgroundColor = "#59F6A1";
				document.getElementById("cr").style.color = "white";
				document.getElementById("cr").style.opacity = "1";

			}
			else {
				console.log("Wrong");
				// document.body.style.backgroundColor = "White"
				document.getElementById("cr").style.backgroundColor = "red";
				document.getElementById("cr").style.color = "white";
				document.getElementById("cr").style.opacity = "1";
			}
		}
	</script>
</body>

</html>