body{
    background-image: url("../../static/IMAGES/BG.jpg");
}
.box{
    padding-top: 200px;
    color: white;
}
.loginbox{
    background: rgba(0, 0, 0, 0.4);
    width: 500px;
    border-radius: 20px;
    margin: auto;
}

.loginbox img{
    width: 90px;
    height: 90px;
    margin-top: -50px;
    transition: 0.5s;
}

.loginbox p{
    font-weight:bold;
    font-size: 30px;
    margin-bottom: 4px;
}

.loginbox input{
    width: 99%;
    margin: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
    border: none;
    outline: none;
}

.loginbox input[type="text"],
.loginbox input[type="password"],
.loginbox input[type="email"]
{
    border-bottom: 1px solid white;
    background: transparent;
    color:white;
    font-size: 18px;
    padding-bottom: 4px;
}
.loginbox input[type="text"],
.loginbox input[type="password"],
.loginbox input[type="email"]
{
    cursor:text;
}
.loginbox input[type="submit"]
{
    outline: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.18);  
    cursor: pointer;
    border-radius: 20px;
    transition: 1s;
    padding: 10px;
}
.loginbox input[type="submit"]:hover
{
    background-color: black;
}


@media screen and (max-width: 1200px) {
    .box{
        padding-top: 140px;
    }
    .loginbox img{
        width: 80px;
        height: 80px;
        margin-top: -45px;
    }
}
@media screen and (max-width: 500px) {
    .loginbox{
        width: 100%;
    }
    .loginbox img{
        width: 70px;
        height: 70px;
        margin-top: -40px;
    }
    .loginbox p{
        font-size: 26px;
    }
    .loginbox input[type="submit"]{
        font-size: 26px;
    }
}