body {
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: black;
  font-size: 24px;
  font-family: 'Dancing Script', cursive;
  margin: 0px;
  padding: 0px;
  transition: 0.5s;
  user-select: none;
  background-color: white;
  scroll-behavior: smooth;
}
input{
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}
button{
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  color: white;
}

/* ------------------------------------------NAVBAR----------------------------------------- */

.dark-mode {
  background-color: rgba(0, 0, 0);
  color: white;
  transition: 0.5s;
}

.dark-mode a {
  color: white;
}

.nav {
  transition: 0.4s;
  font-size: 30px;
  background-color: rgb(9, 208, 162);
  position: fixed;
  width: 100%;
  z-index: 1;
}

.sub-nav {
  margin-top: 30px;
  padding: 10px;
}

.Erudition {
  font-size: 360%;
  font-family: 'Great Vibes', cursive;
  float: left;
  padding-top: 10px;
  margin-bottom: -12px;
  margin-left: 10px;
}

.nav img{
  float: right;
  padding: 5px;
  margin: 6px;
  margin-top: -10px;
  margin-right: 25px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.4s;
  height: 56px;
  width: 56px;
}
.nav img:hover{
  background: rgba(255, 255, 255, 0.18);
}

.nav img:hover + .signout{
  display: block;
}

.account {
  border-radius: 50px;
  padding: 10px;
  transition: 0.4s;
  float: right;
  background-color: rgb(80, 96, 239);
}

.account:hover {
  border-bottom: 3px white solid;
  transition: 0.4s;
}

.about_us {
  padding: 10px;
  transition: 0.4s;
  float: right;
}

.about_us:hover {
  border-bottom: 3px white solid;
  transition: 0.4s;
}

.grammar_check {
  padding: 10px;
  transition: 0.4s;
  float: right;
}

.grammar_check:hover {
  border-bottom: 3px white solid;
  transition: 0.4s;
}

.dropdown {
  float: right;
  overflow: hidden;
  cursor: pointer;
}

.fa-caret-down {
  opacity: 0;
  position: relative;
  left: -10px;
  transition: 0.1s;
}

.fa-caret-left {
  opacity: 1;
  position: relative;
  left: 10px;
  transition: 0.1s;
}

.dropdown .study_material {
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin-top: -4px;
  float: right;
}
.dropdown button{
  padding: 15px;
  border-radius: 20px;
  width: 220px;
}
.dropdown button:hover{
  background-color: rgba(255, 255, 255, 0.305);
  transition: 0.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(9, 208, 162, 0.4);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-left: 15px;
  font-size: 26px;
  border-radius: 20px;
  float: left;
  max-width: 220px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .fa-caret-down {
  opacity: 1;
}

.dropdown:hover .fa-caret-left {
  opacity: 0;
}

.home {
  padding: 10px;
  transition: 0.1s;
  float: right;
}

.home:hover {
  border-bottom: 3px white solid;
  transition: 1s;
}

.nav .icon {
  display: none;
}
  
.signout{
  position: absolute;
  display: none;
  transition: 0.2s;
  width: max-content;
  top: 85px;
  right: 95px;
  background-color: rgba(9, 208, 162, 0.4);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px 0px 20px 20px;
  
}
.signout button{
  padding: 8px;
  padding-left: 15px;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  width: 130px;
}
.signout button:hover{
  background-color: rgba(255, 255, 255, 0.305);
  transition: 0.5s;
}
.signout:hover{
  display: block;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 26px;
  top: 95px;
  right: 40px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 0.5px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav input:checked+.slider {
  background-color: rgba(18, 17, 17, 0.784);
}

.nav input:focus+.slider {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.784);
}

.nav input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(25px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------------------------------------MAIN TOPIC NAVBAR----------------------------------------- */
.closing-button button{
  padding: 10px;
  background-color: rgb(9, 208, 162);
  border-radius: 50%;
  width: 54px;
}

.main-topic-nav{
  /* padding: 14px; */
  margin-top: 20%;
  background-color: rgb(9, 208, 162);
  border-radius: 0px 50px 50px 0px;
  font-size: 40px;
  float: left;
  color: white;
  transition: 0.5s;
}
.main-topic-nav-title{
  padding: 2%;
  border-bottom: 2px solid white;
}
.main-topic-nav-content{
  padding: 2%;
  padding-bottom: 6%;
  padding-right: 20px;
}
.main-topic-nav-content button{
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  font-size: 26px;
}
.closing-button.main{
  margin-top: 28%;
  margin-left: -20px;
  float: left;
}
.closing-button.main button{
  padding-right: 0px;
}

/* ---------------------------------------------VIDEO WINDOW----------------------------------------- */

.video-window{
  display: inline-block;
  margin-top: 140px;
  width: 80%;
  transition: 0.5s;
}
.video-window-title{
  margin-bottom: 10px;
  text-align: left;
  font-size: 30px;
  border-bottom: 2px outset black;
}
.dark-mode .video-window-title{
  border-bottom: 2px outset white;
}
.video-window-video{
  transition: 0.5s;
  cursor: pointer;
}

/* -------------------------------------------SUB TOPIC NAVBAR---------------------------------------- */

.sub-topic-nav{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(9, 208, 162);
  padding: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 10px;
  border-radius: 50px 50px 0px 0px;
  height: 90px;
  display: inline-block;
  width: 72.5%;
}
.sub-topic-nav button{
  float: left;
  margin-top: 30px;
  border-radius: 50%;
}
.sub-topic-nav-content{
  overflow: hidden;
  width: 88%;
  height: 100px;
  display: inline-block;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.sub-topic-nav-content button{
  margin-top: 0px;
  color: white;
  border-radius: 20px;
  padding: 10px;
  float: none;
}
.sub-topic-nav button:hover{
  background-color: rgba(255, 255, 255, 0.305);
}

.sub-topic-nav-content img{
  width: 100px;
  height: 80px;
}

.closing-button.sub{
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
  transition: 0.5s;
}
.closing-button.sub button{
  padding-top: 2px;
  height: 52px;
  width: 56px;
  transition-delay: 0.35s;
}

/* ------------------------------------------DEVICE SETTINGS----------------------------------------- */

@media screen and (max-width: 1200px) {
  .nav a:not(:first-child),.nav button:not(:first-child),
  .dropdown .study_material {
    display: none;
  }
  .nav button, .nav img{
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
    margin-top: -15px;
    margin-right: 8px;
  }
  .nav.responsive {
    position: fixed;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 10px;
    top: 42px;
    margin-top: -17px;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive button {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive img {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive .signout {
    position: relative;
    margin-top: -90px;
    margin-bottom: 95px;
    left: 0px;
    right: 0px;
    border-radius: 0px 20px 20px 20px;
  }
  .nav.responsive .dropdown {
    float: none;
  }

  .nav.responsive .dropdown-content {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .nav.responsive .dropdown .study_material {
    display: block;
    width: 100%;
    text-align: left;
  }
  .switch{
    top: 30px;
    right: 56px;
  }
  .Erudition{
    font-size: 210%;
  }
  .video-window{
    margin-top: 80px;
  }
  .main-topic-nav-title{
    font-size: 28px;
  }
  .main-topic-nav-content button{
    font-size: 20px;
  }
}

@media screen and (max-width: 882px) {
  .main-topic-nav{
    position: absolute;
    top: 5%;
    z-index: 3;
  }
  .closing-button.main{
    transition: 0.5s;
    transition-delay: 2s;
    position: absolute;
    top: 5%;
    z-index: 3;
  }
  .closing-button.main button{
    height: 45px;
    width: 45px;
    padding-top: 4px;
    padding-left: 16px;
  }
  .main-topic-nav-content{
    padding-right: 14px;
  }
}
@media screen and (max-width:720px){
  .main-topic-nav{
    top: 60px;
  }
  .closing-button.main{
    top: 60px;
  }
  .sub-topic-nav-content{
    width: 78%;
  }
  .closing-button.sub button{
    height: 45px;
    width: 49px;
  }
}
@media screen and (max-width:320px) {
  .switch{
    top: 50px;
    right: 6px;
  }
  .nav a.icon {
    margin-top: -25px;
    margin-right: 8px;
  }
  .nav.responsive .icon {
    margin-top: -27px;
  }
  .main-topic-nav-title{
    font-size: 25px;
  }
  .main-topic-nav-content button{
    font-size: 17px;
  }
  .sub-topic-nav-content{
    width: 70%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track body{
  background: #f1f1f1;
}
::-webkit-scrollbar-track .dark-mode {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}