{% extends 'NAVBAR.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/CREDENTIALS.css' %}">{% endblock %}
{% block title %} FORGOT PASSWORD {% endblock %}

{% block body %}
<div class="box">
    <div class="loginbox">
        <img src="{% static 'IMAGES/FORGOT_PASSWORD.png' %}">
        <form method="POST" action="{% url 'FORGOT_PASSWORD' %}">
            {%csrf_token %}
            <!-- {% if messages %}
                {% for message in messages %}
                <div>
                    {{msg}}
                </div>
                {% endfor %}
                {% endif %} -->
            <div id="error"></div>
            <p> EMAIL </p>
            <input type="email" name="email" placeholder="" id="loginpassword" required>
            <!-- {% if messages %}
            {% for message in messages %}
            <div>
                {{pswd_msg}}
            </div>
            {% endfor %}
            {% endif %} -->
            <p> CONFIRM EMAIL </p>
            <input type="email" name="pass2" placeholder="" id="pass4" required>
            <input type="submit" value="NEXT">
        </form>
    </div>
</div>
{% endblock %}