{% extends 'NAVBAR.html' %}
{% load static %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'CSS/CREDENTIALS.css' %}">{% endblock %}
{% block title %} HOME {% endblock %}

{% block body %}
<div class="loginbox">
    <img src="{% static 'IMAGES/USER.png' %}">
    <form method="POST" action="{% url 'RESET_PASSWORD' %}">{%csrf_token %}
        <!-- {% if messages %}
                {% for message in messages %}
                <div>
                    {{msg}}
                </div>
                {% endfor %}
                {% endif %} -->
        <br>
        <div id="error"></div>
        <p> PASSWORD </p>
        <input type="password" name="password" placeholder="" required><br>
        <br>
        <!-- {% if messages %}
            {% for message in messages %}
            <div>
                {{pswd_msg}}
            </div>
            {% endfor %}
            {% endif %} -->
        <p> CONFIRM PASSWORD </p>
        <input type="password" name="pass2" placeholder="" required><br>
        <br>
        <input type="submit" value="NEXT">
    </form>
</div>
{% endblock %}